#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game,
.board-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.board-row {
  display: flex;
  gap: 2px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  font-size: 30px;
}

.current-player {
  position: absolute;
  font-size: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.current-player--left {
  left: -80px;
}

.current-player--right {
  right: -80px;
}

.status {
  font-size: 30px;
}

.game-history-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-full {
  width: 100%;
}

@media (max-width: 399px) {
  .current-player {
    display: none;
  }
}